<!doctype html>
<html>

    <head>
        <title> {{ title }} </title>
        
        <script src="static/js/htmx.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>

    <body>

        <p>
            <ul>
                {% for message in get_flashed_messages() %}
    
                    <li>{{ message }}</li>
    
                {% endfor %}
            </ul>
        </p>
        
        {% block the_body %}
        {% endblock %}

        <hr />
    
        <!-- <a href="/startgame">Restart</a> -->

    </body>

</html>
